<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0"/>

    <title>Your mission. Good Luck!</title>

    <link rel="stylesheet" href="bulma.min.css">
    <link rel="stylesheet" href="hover.css">
    <link rel="stylesheet" href="animate.css">

    <script src="22-tabs.js"></script>
    <script src="23-script.js"></script>
</head>