      <div class="tabs is-centered">
        <ul class="tab-headers">
          <li data-target="progress" id="tab-progress"
              class="hvr-pulse-grow is-active">
            <a><span>Progress</span></a>
          </li>
          <li data-target="review" id="tab-review"
              class="hvr-pulse-grow">
            <a><span>Review</span></a>
          </li>
          <li data-target="report" id="tab-report"
              class="hvr-pulse-grow">
            <a><span>Report</span></a>
          </li>
        </ul>
      </div>