      <div class="tab-contents has-text-centered">
        <div id="progress"
             class="animate__animated animate__bounceInLeft">
          {% include 'content-progress.jinja' %}
        </div>
        <div id="review"
             class="animate__animated animate__bounceInLeft">
          {% include 'content-review.jinja' %}
        </div>
        <div id="report"
             class="animate__animated animate__bounceInLeft">
          {% include 'content-report.jinja' %}
        </div>
      </div>

